<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello Vue!</title>
  <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
</head>
  <body>
      <div id="app">
        <input v-model="value" type="text"/>
        <button @click="commit">提交</button>
        <ul>
          <li v-for="item in todolist">
            {{item.text}}
          </li>
        </ul>
      </div>
  </body>
  <script>
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
              value: '',
              todolist: [
                {text:'todo01'},
                {text:'todo02'},
                {text:'todo03'}
              ]
            }
        },
        methods:{
          commit:function () {
            var val = this.value;
            this.todolist.push({text: val})
            this.value = '';
          }
        }
    });
  </script>
</html>